<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime
			version="v4.0"
			sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>

		<!-- Configuración de cuotas -->
		<add key="TarifaPorM2" value="450" />
		<add key="CargoFijoMantenimiento" value="5000" />

		<!-- Servicios externos -->
		<add
			key="URLHacienda"
			value="https://api.hacienda.go.cr/fe/ae?identificacion=" />

		<add
			key="URLProvincias"
			value="https://raw.githubusercontent.com/lateraluz/Datos/master/provincias.json" />

		<add
			key="URLTipoCambio"
			value="https://open.er-api.com/v6/latest/USD" />

		<!-- Configuración del envío de facturas por correo -->
		<add key="SimularCorreo" value="false" />
		<add key="SmtpUsuario" value="zamorasotovaleria@gmail.com" />
		<add key="SmtpPassword" value="sejn ibqk txsa vhvi" />
		<add key="SmtpRemitente" value="zamorasotovaleria@gmail.com" />

	</appSettings>

	<connectionStrings>
		<add
			name="CondominioDB"
			providerName="System.Data.SqlClient"
			connectionString="Data Source=localhost;Initial Catalog=CondominioDB;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>

</configuration>