<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<startup>
		<supportedRuntime
		  version="v4.0"
		  sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>

		<!-- Parámetros de la cuota de mantenimiento -->
		<add
		  key="TarifaPorM2"
		  value="450" />

		<add
		  key="CargoFijoMantenimiento"
		  value="5000" />

		<!-- API Hacienda -->
		<add
		  key="URLHacienda"
		  value="https://api.hacienda.go.cr/fe/ae?identificacion=" />

		<!-- Servicio de Provincias -->
		<add
		  key="URLProvincias"
		  value="https://raw.githubusercontent.com/lateraluz/Datos/master/provincias.json" />

		<!-- Servicio BCCR -->
		<add
		  key="URLBCCR"
		  value="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx/ObtenerIndicadoresEconomicosXML" />

		<add
		  key="NombreBCCR"
		  value="Sistema Condominio" />

		<add
		  key="CorreoBCCR"
		  value="zamorasotovaleria@gmail.com" />

		<add
		  key="TokenBCCR"
		  value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJCQ0NSLVNEREUiLCJzdWIiOiJ6YW1vcmFzb3RvdmFsZXJpYUBnbWFpbC5jb20iLCJhdWQiOiJTRERFLVNpdGlvRXh0ZXJubyIsImV4cCI6MjUzNDAyMzAwODAwLCJuYmYiOjE3ODY5MTI4MzQsImlhdCI6MTc4NjkxMjgzNCwianRpIjoiNGViMDg0NjktNzg5MS00ZGMwLThkODctZGMzZjU1ZjU1MDRhIiwiZW1haWwiOiJ6YW1vcmFzb3RvdmFsZXJpYUBnbWFpbC5jb20ifQ.ErtkWTSaBJ-ffQH3ZVeuBSMv5SDOIzgBeAOEA1h1KtQ" />

	</appSettings>

	<connectionStrings>

		<add
		  name="CondominioDB"
		  connectionString="Data Source=localhost;Initial Catalog=CondominioDB;Integrated Security=True;"
		  providerName="System.Data.SqlClient" />

	</connectionStrings>

</configuration>